%footer.branding
  %p.row
    %span(class="span5")
      RHoK Sydney is part of the global
      %a{:href => "http://www.rhok.org"} RHoK movement
    %span(class="pull-right ")
      %a{:href => "http://www.meetup.com/rhok-sydney"}
        %img{:src => "http://img.meetup.com/img/logo_45.png", :style => "vertical-align:top" }

%footer
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
  %script{:src => '/bootstrap/bootstrap.min.js', :async => true, :type => 'text/javascript'}
  %script{:type => "text/javascript", :src => "http://w.sharethis.com/button/buttons.js" }

